* {
  box-sizing: border-box;
  padding: 0;
  font-family: 'Assistant' !important;
  font-style: normal !important;

}
.PrivateTabIndicator-colorPrimary-24 {
  background-color: #00aaaf !important;
}
.MuiTab-textColorPrimary.Mui-selected,
.MuiPickersDay-current:not(.MuiPickersDay-daySelected),
.the_date,
.MuiPickersCalendarHeader-iconButton:not(.Mui-disabled)
{
  color: #00aaaf !important;
}

.MuiSvgIcon-root{
  font-size: 1.8rem !important;
}

.date_label{
  padding: 0 20px;
  border-bottom: 1px solid rgb(223 223 223);
  height: 66.22px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.is_today{
  font-weight: 700;
  font-size: 16px;
}

.MuiPickersBasePicker-pickerView.MuiPickersBasePicker-pickerViewLandscape {
  width: 100%;
  padding: 0;
}

.MuiPickersBasePicker-pickerView{
  max-width: none !important;
}

.MuiPickersDatePickerRoot-toolbarLandscape{
  padding: none !important;
}

.MuiPickersCalendarHeader-daysHeader,
.MuiPickersCalendar-week{
  justify-content: space-around !important;
  padding: 0px 10px;
}
.MuiPickersDatePickerRoot-toolbar {
  position: relative;
  text-align: right;
  width: 100% !important;
  align-items: stretch !important;
  background-color: transparent !important;
  border-bottom: 20px solid "#b2adad";
  /* color: #262626 !important; */
  display: flex !important;
}

.MuiPickersBasePicker-container {
  display: flex;
  flex-direction: column !important;
  justify-content: center;
}
.MuiPickersToolbarText-toolbarBtnSelected {
  color: #262626 !important;
}
.MuiPickersToolbar-toolbarLandscape {
  height: auto;
  padding: 8px;
  max-width: 100% !important;
  justify-content: flex-start;
}
.MuiPickersBasePicker-container {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.MuiContainer-root {
  width: 50%;
  display: block;
  box-sizing: border-box;
  margin-left: auto;
  margin-right: auto;
  padding: none !important;
}
.MuiTypography-h4 {
  font-size: 1.2rem !important;
  text-align: right !important;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-weight: 400;
  line-height: 1.235;
  letter-spacing: 0.00735em;
  color: "#00AAAF" !important;
}
.MuiPickersToolbarText-toolbarTxt {
  color: #00aaaf !important;
}

.MuiPickersToolbar-toolbar {
  height: 100px;
  display: flex;
  align-items: center;
  /* flex-direction: row-reverse !important; */
  justify-content: space-between !important;
  align-items: flex-start !important;
  background-color: #467fcf;
}
.MuiTypography-subtitle1 {
  font-size: 1rem;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-weight: 400;
  line-height: 1.75;
  letter-spacing: 0.00938em;
  position: relative;
  /* right: 40%; */
  color: #262626 !important;
}
.MuiPickersDay-daySelected {
  color: #fff;
  font-weight: 500;
  background-color: #00aaaf !important;
}

.MuiPickersToolbarButton-toolbarBtn {
  padding: 0px;
  margin-right: 1rem !important;
  min-width: 16px;
  text-transform: none;
}
.MuiContainer-root {
  position: relative !important;
  width: 100%;
  display: block;
  box-sizing: border-box;
  margin-left: auto;
  margin-right: auto;
  padding-left: 16px;
  padding-right: 16px;
}
