* {
  box-sizing: border-box;
  padding: 0;
}
.PrivateTabIndicator-colorPrimary-24 {
  background-color: #00aaaf !important;
}
.MuiTab-textColorPrimary.Mui-selected {
  color: #00aaaf !important;
}

.MuiPickersDatePickerRoot-toolbar {
  position: relative;
  text-align: right;
  width: 100% !important;
  align-items: stretch !important;
  background-color: transparent !important;
  border-bottom: 20px solid "#b2adad";
  /* color: #262626 !important; */
  display: flex !important;
}

.MuiPickersBasePicker-container {
  display: flex;
  flex-direction: column !important;
  justify-content: center;
}
.MuiPickersToolbarText-toolbarBtnSelected {
  color: #262626 !important;
}
.MuiPickersToolbar-toolbarLandscape {
  height: auto;
  padding: 8px;
  max-width: 100% !important;
  justify-content: flex-start;
}
.MuiPickersBasePicker-container {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.MuiContainer-root {
  width: 50%;
  display: block;
  box-sizing: border-box;
  margin-left: auto;
  margin-right: auto;
  padding-left: 16px;
  padding-right: 16px;
}
.MuiTypography-h4 {
  font-size: 1.2rem !important;
  text-align: right !important;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-weight: 400;
  line-height: 1.235;
  letter-spacing: 0.00735em;
  color: "#00AAAF" !important;
}
.MuiPickersToolbarText-toolbarTxt {
  color: #00aaaf !important;
}

.MuiPickersToolbar-toolbar {
  height: 100px;
  display: flex;
  align-items: center;
  /* flex-direction: row-reverse !important; */
  justify-content: space-between !important;
  align-items: flex-start !important;
  background-color: #467fcf;
}
.MuiTypography-subtitle1 {
  font-size: 1rem;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-weight: 400;
  line-height: 1.75;
  letter-spacing: 0.00938em;
  position: relative;
  /* right: 40%; */
  color: #262626 !important;
}
.MuiPickersDay-daySelected {
  color: #fff;
  font-weight: 500;
  background-color: #00aaaf !important;
}

.MuiPickersToolbarButton-toolbarBtn {
  padding: 0px;
  margin-right: 1rem !important;
  min-width: 16px;
  text-transform: none;
}
.MuiContainer-root {
  position: relative !important;
  width: 100%;
  display: block;
  box-sizing: border-box;
  margin-left: auto;
  margin-right: auto;
  padding-left: 16px;
  padding-right: 16px;
}

.MuiPickersCalendarHeader-switchHeader {
  display: flex;
  margin-top: 4px;
  align-items: center;
  margin-bottom: 8px;
  justify-content: space-between;
  direction: ltr !important;
}
.MuiPaper-elevation1 {
  box-shadow: none !important;
}
