
.MuiPickersDatePickerRoot-toolbar {
  position: relative;
  text-align: right;
  width: 100% !important;
  align-items: stretch !important;
  background-color: transparent !important;
  border-bottom: 20px solid "#b2adad";
  /* color: #262626 !important; */
  display: flex !important;

  /* display: none !important; */
}

.MuiPickersDatePickerRoot-toolbarLandscape{
  padding: 0;
} 
.MuiPickersToolbar-toolbarLandscape{
  height: 0;
}

.MuiTypography-h4 {

}

.MuiPickersBasePicker-container {
  display: flex;
  flex-direction: column !important;
  justify-content: center;
}
.MuiPickersToolbarText-toolbarBtnSelected {
  color: #262626 !important;
}
.MuiPickersToolbar-toolbarLandscape {
  height: auto;
  padding: 8px;
  max-width: 50% !important;
  justify-content: flex-start;
}
.MuiPickersBasePicker-container {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.MuiContainer-root {
  width: 50%;
  display: block;
  box-sizing: border-box;
  margin-left: auto;
  margin-right: auto;
  padding-left: 16px;
  padding-right: 16px;
}
.MuiTypography-h4 {
  font-size: 0.900rem !important;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-weight: 400;
  line-height: 1.235;
  letter-spacing: 0.00735em;
}
